.chat_page{
    position: relative;
}
.chat_page .group{
    position: relative;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--grey);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}
.chat_page .group .users{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.chat_page .group .users .search_box{
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_page .group .users .search_box input{
    border: none;
    background: var(--grey);
    width: 90%;
    border-radius: 20px;
    height: 50px;
    font-size: 1.2em;
    padding: 10px;
    padding-left: 45px;
}
.chat_page .group .users .search_box ion-icon{
    position: absolute;
    left: 30px;
    opacity: 0.5;
}
.chat_page .group .users .search_box input:focus-visible{
    outline: none;

}
.chat_page .group .users ul{
    list-style-type: none;
    scroll-behavior: smooth;
}
.chat_page .group .users ul li{
    position: relative;
    height: 100px;
    display: flex;
    justify-content:left;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.chat_page .group .users ul li.active{
    background: var(--grey);
    border-radius: 10px;
}
.chat_page .group .users ul li:hover{
    background: var(--grey);
    border-radius: 10px;
}
.chat_page .group .users ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.chat_page .group .users ul li span.chat-detail{
    margin-left: 40px;
    width: 100%;
}
.chat_page .group .users ul li span.chat-detail p.last_message{
    text-overflow:ellipsis;
    width: calc(100% - 60px);
    white-space: nowrap; 
    overflow: hidden;
}
.chat_page .group .chatbox{
    position: relative;
    width: 75%;
    border-left: 2px solid var(--grey);
}
.chat_page .group .chatbox .current_user{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
}
.chat_page .group .chatbox .current_user img{
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.chat_page .group .chatbox .type{
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: 50px;
}
.chat_page .group .chatbox .type textarea{
    border: none;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--white);
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    background: var(--grey);
    resize: none;
    font-size: 2em;
}
.chat_page .group .chatbox .chat_area{
    height: calc(100% - 130px);
    padding: 10px;
}
.chat_page .group .chatbox .chat_area .cover{
    position: relative;
    width: 100%;
    display: flex;
}
.chat_page .group .chatbox .chat_area .cover.receive{
    justify-content: left;
}
.chat_page .group .chatbox .chat_area .cover.send{
    justify-content: right;
}
.chat_page .group .chatbox .chat_area .cover .bubble_chat{
    padding: 10px 40px;
    border: 1px solid var(--grey);
    width: fit-content;
    max-width: calc(100% - 100px);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 1.2em;
}
.chat_page .group .chatbox .chat_area .cover.receive .bubble_chat{
    background: var(--grey);
    border-bottom-left-radius: 0;
}
.chat_page .group .chatbox .chat_area .cover.send .bubble_chat{
    background: var(--blue);
    color: var(--white);
    border-bottom-right-radius: 0;
}
.chat_page .group .chatbox .type textarea:focus-visible{
    outline: none;
}
.chat_page .group .chatbox .type button{
    padding: 10px 40px;
    border: none;
    background: var(--blue);
    font-size: 2em;
    color: var(--white);
    cursor: pointer;
}
.chat_page .group .chatbox .type button:hover{
    background: var(--blue2);
}

/* responsive */
@media only screen and (max-width: 400px) {
    .chat_page .group .users ul li{
        padding: 5px;
    }
    .chat_page .group .users .search_box ion-icon{
        position: absolute;
        left: 10px;
        opacity: 0.5;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .chat_page .group .users ul li span.chat-detail{
        visibility: hidden;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .chat_page .group .chatbox .type textarea{
        font-size: 1.3em;
    }
    .chat_page .group .users ul li span.chat-detail{
        margin-left: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .chat_page .group .chatbox .type textarea{
        font-size: 1.3em;
    }
    .chat_page .group .users ul li span.chat-detail{
        margin-left: 20px;
    }
}