.ticket-page{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 14vh);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-top: 0;
}
.ticket-page .clickable{
    cursor: pointer;
}
.ticket-page .clickable:hover{
    color: var(--blue);
}
.ticket-page .current-tickets{
    width: 69%;
    background: var(--white);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
}
.ticket-page .current-tickets h4{
    text-align: center;
}
.ticket-page .current-tickets table{
    width: 100%;
    text-align: center;

}
.ticket-page .current-tickets table tbody tr{
    width: fit-content;
}
.ticket-page .current-tickets table tbody tr:nth-of-type(odd){
    background: var(--grey);
}
.ticket-page .navigation{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.ticket-page .navigation .box-1{
    overflow: hidden;
    padding: 10px;
    height: 50%;
    background: var(--grey);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.ticket-page .navigation .box-2{
    overflow: hidden;
    padding: 10px;
    height: 50%;
    background: var(--grey);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket-page .navigation .box-2 canvas{
    height: 100% !important;
    object-fit: cover !important;
    width: unset !important;
}