.menu {
  position: relative;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: calc(100% - 40px);
  width: 80%;
  margin-top: 2%;
}
.menu-page .other-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  background: var(--white);
  width: 500px;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-input {
  padding: 10px;
  width: 20%;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.search-box .search-input:focus {
  outline: none;
}
.search-box span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box span div {
  margin-left: 5px;
}
.menu-page .component {
  display: flex;
  width: 150px;
  height: 100px;
  text-align: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
  z-index: 111;
}
.menu-page .component a {
  text-decoration: none;
  padding: 40px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue3);
  color: white;
  border-radius: 10px;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: all 0.5s;
}
.menu-page .component a ion-icon {
  font-size: 2.5em !important;
  transition: 0.5s;
}
.menu-page .component a .icon {
  font-size: 2.5em !important;
  transition: 0.5s;
}
.menu-page .component a:hover {
  background: var(--blue4);
}
.menu-page .component a:hover ion-icon {
  font-size: 3.5em !important;
  transform: rotate(30deg);
}
.menu-page .component a:hover .icon {
  font-size: 3.5em !important;
  transform: rotate(30deg);
}
.menu-page .component h4 {
  color: #010135;
  width: 100%;
}
/* @media (max-width: 600px) {
  .menu-page {
    width: 80%;
    height: 100%;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 10px;
  }
  .menu {
    width: 500px;
  }
}
@media (max-width: 300px) {
  .menu-page {
    width: 70%;
    height: 100%;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin-top: 5%;
    padding: 10px;
  }
  .menu {
    width: 200px;
  }
} */
