@import url("https://fonts.googleapis.com/css2?family=Praise&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #eeecec;
  --black1: #222;
  --black2: #999;
  --blue2: #005acd;
  --navy: #6dd7fd;
  --jade: #bef0ff;
  --warning: #f3ba00;
  --warning2: #fcd34e;
  --danger: #e52515;
  --danger2: #ee4f40;
  --success: #1a512e;
  --success2: #2a7947;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.wrapper-container {
  width: 100%;
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.side-navigation {
  position: fixed;
  left: 0%;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  width: 300px;
  overflow: hidden;
  padding: 20px;
}
.side-navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-navigation ul li {
  list-style-type: none;
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.side-navigation ul li.active {
  background-color: var(--white);
}
.side-navigation ul li.active .icon {
  color: var(--blue);
}
.side-navigation ul li:nth-child(1) {
  margin-bottom: 100px;
  pointer-events: none;
}
.side-navigation ul li .icon {
  color: var(--white);
}
.side-navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  display: flex;
  color: var(--white);
  align-items: center;
  text-align: center;
}
.side-navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 80px;
  text-align: center;
}
.side-navigation ul li a .icon ion-icon {
  text-align: center;
  font-size: 1.75em !important;
}
.side-navigation ul li a .title {
  position: relative;
  display: block;
  min-width: 60px;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
}
.side-navigation ul li.active a {
  color: var(--blue);
}
.side-navigation ul li a span {
  margin: 10px;
}

/* curve outside */
.side-navigation ul li.active a:before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
}
.side-navigation ul li.active a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
}
.side-navigation.collapsed {
  width: 100px;
}

/* main */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.collapsed {
  position: absolute;
  width: calc(100% - 100px);
  left: 100px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main .topbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
  margin-bottom: 10px;
}
.main .topbar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .topbar .search {
  position: relative;
  width: 500px;
  margin: 0 10px;
  display: inline;
}
.main .topbar label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 10px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}
.main .topbar label ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
}
.main .topbar .info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .topbar .info .notify {
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2em;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .topbar .info .message {
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2em;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .topbar .info .user {
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2em;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .topbar .info .user img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main .cardBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}
.main .cardBox .card {
  background: var(--white);
  padding: 40px;
  line-height: 2.5em;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.main .cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2em;
  color: var(--blue);
}
.main .cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}
.main .cardBox .card .iconBox {
  display: flex;
  align-items: center;
  color: var(--black2);
  font-size: 3.5em;
}
.main .cardBox .card:hover {
  background: var(--blue);
}
.main .cardBox .card:hover .numbers {
  color: var(--white);
}
.main .cardBox .card:hover .cardName {
  color: var(--white);
}
.main .cardBox .card:hover .iconBox {
  color: var(--white);
}

/* app */
.main .app {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 991px) {
  .side-navigation {
    width: 100px;
  }
  .side-navigation.collapsed {
    left: -300px;
  }
  .main {
    width: calc(100% - 100px);
    left: 100px;
  }
  .main.collapsed {
    width: calc(100%);
    left: 0px;
  }
}
@media (max-width: 691px) {
  .side-navigation {
    width: 100px;
  }
  .side-navigation.collapsed {
    left: -300px;
  }
  .main {
    width: calc(100% - 100px);
    left: 100px;
  }
  .main.collapsed {
    width: calc(100%);
    left: 0px;
  }
}

/* animation */
@keyframes loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
